body{
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
    outline: none;
    color: #353D42;
}
h3{
    /* padding-bottom: 10px; */
    margin: 0;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    background-color: #353D42;
    padding: 10px;
}

header button {
    background-color: #F8F9FA;
    color: #000;
    padding: 10px;
}
/* header ends */
/* main starts  */
main{
    width: 80%;
    margin: 20px auto;
}
main .container{
   margin: 10px 0; 
   padding: 10px;
   display: flex;
   /* border: 1px solid red; */
}
main div img {
    width:70px;
    height: 70px;
    margin: 0 10px;
    

}
main  .left  img{
    /* float: left; */
}

/* main  .left .textP{
    float: right;
} */
main .right{
    flex-direction: row-reverse;
}


main  .right  img {
    /* float: right; */
}
/* main  .right .textP{
    float: left;
} */
/* main ends  */
p{
    word-spacing: 3px;
    font-size: medium;
    line-height: 20px;
    text-align: justify;
}