body{
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
    outline: none;
    color: #353D42;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    background-color: #353D42;
    padding: 10px;
}
header button {
    background-color: #F8F9FA;
    color: #000;
    padding: 10px;
}
/* header ends */
/* main */
main {
    width: 70%;
    margin: 20px auto;

}

main .output-container div,
main .input{
    background-color: #67757C;
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
    padding: 10px;   
}

main  input{
 padding: 10px;
 width: 80%;
}

main .output-container  p{
    padding: 10px;
    font-size:larger;
    font-weight: 500;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

input:focus, input:active{
outline: none;
}
main button{
    padding: 10px;
}
/* main ends */