body {
	margin: 0;
	padding: 0;
	width: 100%;
}
a {
	text-decoration: none;
	outline: none;
	color: #353d42;
}
/* Header */
header {
	display: flex;
	justify-content: space-between;
	background-color: #353d42;
	padding: 10px;
}
header button {
	background-color: #f8f9fa;
	color: #000;
	padding: 10px;
}
/* header ends */
/* main{
    display: flex;
    flex-direction: column;
} */

