body {
	margin: 0;
	padding: 0;
	width: 100%;
}
a {
	text-decoration: none;
	outline: none;
	color: #353d42;
}
/* Header */
header {
	display: flex;
	justify-content: space-between;
	background-color: #353d42;
	padding: 10px;
}
header button {
	background-color: #f8f9fa;
	color: #000;
	padding: 10px;
}
/* header ends */
/* main */
main {
	width: 50%;
	margin: 5% auto;
	/* border: 1px solid black; */
	border: 1px solid #67757c !important;
	border-radius: 5px;
}

main form {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	padding: 20px;
	/* border: 1px solid #67757c !important; */
}
main h3 {
	padding: 10px;
	margin: 0;
	background-color: #f7f7f7;
	border-bottom: 1px solid black;
	border-top: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
input {
	padding: 10px;
	margin: 5px;
	border: 1px solid #67757c !important;
	background-color: white !important;
}
form input:focus,
input:active {
	background-color: white !important;
	outline: none;
}

main form button {
	padding: 10px;
	margin: 10px 10px 10px 5px;
	width: 20%;
	/* background-color: red; */
	background-color: #67757c;
	color: #fff;
	outline: none;
}

/* main ends */