body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.center{
	margin: 0 auto;
}
a {
	text-decoration: none;
	outline: none;
	color: #353d42;
}
/* Header */
header {
	display: flex;
	justify-content: space-between;
	background-color: #353d42;
	padding: 10px;
}
header button {
	background-color: #f8f9fa;
	color: #000;
	padding: 10px;
}
/* header ends */
main {
	/* width: 80%; */
	margin: 20px ;
}
table {
	/* border: 1px solid #676767; */
    margin: 20px auto;
	border-collapse: collapse;
}
th {
	background-color: #e6ecef;
}

tr:hover {
	background-color: #d6eeee;
}

th,
td {
	padding: 20px;
	margin: 10px;
    /* border: 1px solid red; */
	width: auto;
	text-align: left;
}
 td a{
    color: red;
}
